.form {
    border-radius: 20%;
    color: white;
    border: 5px solid greenyellow;
    padding: 15px;
    background: red;
    width: 50%;
}

.a{
    color:bisque;
}
.item {
    margin-top: 0;
}
.div{
    margin-top: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
}

body {
    background: #000;
    margin: 0;
}